build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/simple_bootloader/*.o
/system/arm/simple_bootloader/boot.arm
/system/arm/simple_bootloader/boot_emm.arm
/system/arm/aarch64_bootloader/boot_emm.arm64
/system/arm/aarch64_bootloader/boot_emm_v2.arm64
nbproject
js_out_fasta_node_2/
C_out_fasta_node2/
C_out_mandelbrot_node/
C_out_nbody/
client_post_out_2048/
extractData.py
file_server_128_1/
file_server_128_2/
file_server_128_3/
file_server_128_4/
file_server_128_5/
file_server_128_6/
file_server_128_7/
file_server_128_8/
file_server_128_9/
file_server_128_10/
file_server_256_1/
file_server_256_2/
file_server_256_3/
file_server_256_4/
file_server_256_5/
file_server_256_6/
file_server_256_7/
file_server_256_8/
file_server_256_9/
file_server_256_10/
file_server_512_1/
file_server_512_2/
file_server_512_3/
file_server_512_4/
file_server_512_5/
file_server_512_6/
file_server_512_7/
file_server_512_8/
file_server_512_9/
file_server_512_10/
file_server_out_1024/
file_server_out_1024_10*500/
file_server_out_1024_2*500/
file_server_out_1024_3*500/
file_server_out_1024_5*100/
file_server_out_1024_nocache/
file_server_out_128_10*50/
file_server_out_128_2*250/
file_server_out_128_2*500/
file_server_out_128_5*100/
file_server_out_128_gcBefAlloc/
file_server_out_128_nocache/
file_server_out_128_normal/
file_server_out_2048/
file_server_out_2048_nocache/
file_server_out_256_2*250/
file_server_out_256_gcBefAlloc/
file_server_out_256_normal/
file_server_out_32_2*250/
file_server_out_32_5*100/
file_server_out_32_nocache/
file_server_out_32_normal/
file_server_out_4096/
file_server_out_4096_nocache/
file_server_out_64_2*250/
file_server_out_64_5*100/
file_server_out_64_nocache/
file_server_out_64_normal/
gpio_http_128/
gpio_http_64_json/
js_out_mandelbrot_node/
js_out_nbody_node_6/
logo.png
myStats.csv
myStats_old.csv

